.titleDefault{
    background-color: #040404;
    background-image: linear-gradient(#040404, #c498cc);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: titleDefaultAnim 2s linear 0s infinite normal both;
    font-family: 'Climate Crisis', cursive;
}

@keyframes titleDefaultAnim {
	0%,
    50%,
    100% {
		animation-timing-function: ease-in-out;
		transform: translateY(-15px);
	}

	25%,
	75% {
		animation-timing-function: ease-in-out;
		transform: translateY(0px);
	}
}